body {
    background: #212529;
}




#topsection {
    background: #212529;
    height: 45vh;
    color: aliceblue;
    padding-left: 30vh;
    padding-right: 30vh;


}

.agent-picture {
    margin-top: 20px;
    height: 215px;
    width: 215px;
}

.toptext {
    padding-left: 11px;
}

h3 {
    margin-top: -1vh;
    margin-bottom: 6vh;
}



#midsection {
    background-image: linear-gradient(180deg, #212529, #2B2B2B);
    height: 50vw;
}

.carousel {
    width: 680px;
    height: 440px;
}

.carousel-item > img {
    width: 680px;
    height: 445px;
    object-fit: fill;
}

.info-bottom {
    background-image: linear-gradient(180deg, #212529, #2B2B2B);
}

#endsection {
    background-image: linear-gradient(180deg, #2B2B2B, #212529);
}

@media screen and (max-width: 800px) {
    #topsection {
        padding: 0vh 2vh 0vh 6vh;
    }

    .agent-picture {
        margin-top: 35px;
        height: 215px;
        width: 215px;
    }

    #midsection {
        background-color: rgb(43, 43, 43);
        height: 100vw;
    }



    .carousel {}

    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        width: 100%;
    }

}