body {}

.topsection {
    height: 35vh;
    background-image: linear-gradient(#212529,
            rgba(24, 24, 24, 0.825)), url(img/wp4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(236, 236, 236);
    position: relative;
}


form {
    background-color: rgb(255, 255, 255);
    width: 90vh;
    height: 7vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translate(62.5%, -50%);
    position: absolute;

}

input {
    all: unset;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

svg {
    width: 40px;
    height: 40px;
    padding-right: 15px;
}

.searchbar {
    box-shadow:
        0px 1.9px 3.8px -20px rgba(0, 0, 0, 0.34),
        0px 15px 30px -20px rgba(0, 0, 0, 0.68);
}

.searchbtn {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

.filter-btn {
    margin-right: 1vh;
    width: 20vh;

}

.secondsection {
    height: 100vh;
    background-color: aliceblue;
    color: rgb(236, 236, 236);
}

.left-panel {
    padding-top: 50px;
    padding-left: 25vh;
    background-color: aliceblue;
    color: rgb(43, 43, 43);
    width: 75vh;

}

.agentslist-panel {
    width: 100vw;
    padding-top: 10vh;
    background-color: aliceblue;
    color: rgb(43, 43, 43);

}

p {
    display: flex;
    vertical-align: middle;
}


.agentcard {
    padding: 10px;
}

.agent-name-post {
    border: none;
    background-color: transparent;
    transform: translate(-2.5vh, 1vh);
    width: 40vh;
    height: 10px;

}

.agent-name-button {
    border: none;
    background-color: transparent;
    color: rgb(43, 43, 43);
    font-weight: bold;
}

.form-select {
    background-color: rgba(255, 255, 255, 0.597);
    color: rgb(43, 43, 43);
    width: 20%;
    margin-right: 20px;
    border-radius: 0 !important;
}

.form-select>option {
    background-color: rgba(255, 255, 255, 0.597);
    color: rgb(43, 43, 43);
}

.form-select:focus {
    border-color: #21252942;
    box-shadow: none;
}


@media screen and (max-width: 1000px) {
    form {
        background-color: #eeeeee;
        width: 90vh;
        height: 7vh;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translate(5.5vw, -50%);
    }

    .left-panel {
        padding-top: 50px;
        padding-left: 5.5vh;
        background-color: #212529;
        height: 100vh;
        width: 35vh;

    }

    .agent-name-post {
        transform: translate(-2.5vh, 1vh);

    }

    .secondsection {
        height: 120vh;


    }


}