body {
    background: #1d1d1d;
}

#topsection {
    background-image: linear-gradient(#212529,
            rgba(24, 24, 24, 0.899)), url(img/wp8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    color: white;
    padding-left: 30vh;
    padding-right: 30vh;
}

#btn_chat{
    border-radius: 10px;
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.9;
	width: 100px;
}

.agent-picture {
    margin-top: 20px;
    height: 215px;
    width: 215px;
}

.toptext {
    padding-left: 11px;
}

h3 {
    margin-top: -1vh;
    margin-bottom: 2vh;
}

#midsection {
    background-image: #1d1d1d;
    height: 105vh;
}

.boxcont {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: auto 350px;
    color: white;
}

.cole1{
    background-color:whitesmoke; 
    color:black; 
    height: 90%; 
    padding:10px; 
    border-radius:10px;
    gap: 100px;
}

.pclass{
    display:flex;  
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 17px;
}

.cole{
    background-color: rgb(209, 206, 206);
    padding: 10px;
    border-radius: 10px;
    height: 190px;

}

.carousel {
    width: 680px;
    height: 440px;
}

.carousel-item>img {
    width: 680px;
    height: 445px;
    object-fit: fill;
}

.info-bottom {
    
}

#endsection {
    background-image: #1d1d1d;
    height: 105vh;

}

@media screen and (max-width: 800px) {
    #topsection {
        padding: 0vh 2vh 0vh 6vh;
    }

    .agent-picture {
        margin-top: 35px;
        height: 215px;
        width: 215px;
    }

    #midsection {
        background-color: rgb(43, 43, 43);
        height: 100vw;
    }



    .carousel {}

    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        width: 100%;
    }

}