body {
    background-color: aliceblue;
}

.card {
    width: 50vh;
    background-color: transparent;
    border: transparent;
    color: aliceblue;

}

.topsection {
    background-image: linear-gradient(#212529,
            rgba(24, 24, 24, 0.847)), url(img/wp6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    margin-bottom: 5vh;
    color: aliceblue;
}

.result {}

label {
    font-weight: 400;
}

button {
    border-radius: 0 !important;
}

.card {
    color: #1c1c1c;
}

.form-select {
    padding-left: 30px;
    text-align: center;
    font-size: smaller;
    border-radius: 0 !important;
}

.form-select:focus {
    border-color: #000000dc;
    box-shadow: none;
}

.form-control {
    padding-left: 20px;
    text-align: center;
    font-size: small;
    height: 90%;
    border-radius: 0 !important;
    border-color: #969696dc;
}

.form-control:focus {
    border-color: #000000dc;
    box-shadow: none;
}