body {
    background-color: rgb(43, 43, 43);
}

.nav-item>a {
    color: aliceblue;
}

.nav-item>a:hover {
    color:rgb(204, 204, 204);
}

.content-form {
    margin-left: 1vh;
}


label {
    color: aliceblue;
}

#savebutton {
    margin-bottom: 20vh;
}

.form-control {
    border-radius: 0 !important;
}

.form-select {
    border-radius: 0 !important;
}

.sticky-footer {
    background-color: #212529;
    color: aliceblue;
}