body {
    background: #212529;
}

section {
    min-height: 90vh;

}

section>h1 {
    font-weight: 700;
}


#intro-one {
    background-image: linear-gradient(0deg, rgba(33, 37, 41, 1) 0%, rgba(0, 0, 0, 0.516) 50%, rgba(33, 37, 41, 1) 100%), url(img/test4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30vh;
    color: rgb(236, 236, 236);
}

#intro-two {
    background-image: linear-gradient(0deg, rgba(33, 37, 41, 1) 0%, rgba(0, 0, 0, 0.67) 50%, rgba(33, 37, 41, 1) 100%), url(img/test5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(236, 236, 236);

}

#intro-three {
    background-image: linear-gradient(0deg, rgba(33, 37, 41, 1) 0%, rgba(0, 0, 0, 0.516) 50%, rgba(33, 37, 41, 1) 100%), url(img/test6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 30vh;
    color: rgb(236, 236, 236);

}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-5%);
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
    transition: all 1s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.second-div {


    background-image: linear-gradient(#21252980 0%, 1%, aliceblue);
}

.agent-hero {
    padding: 0px 100px 0px 100px;
    margin-top: 20vh;
    margin-bottom: 10vh;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 43, 43);
    
}

.image-agent {
    float: left;
    margin-right: 2rem;
}

.content-agent {
    margin-top: 45px;
    margin-right: 100px;


}

.third-div {
    background-image: linear-gradient(rgb(219, 227, 233) 0%, 1%, aliceblue);

}

.property-hero {
    padding: 0px 100px 0px 100px;
    min-height: 120vh;
    margin-top: -10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 43, 43);
    text-align: end;
    
}

.image-property {
    float: right;
    margin-left: 2rem;
}

.content-property {
    margin-left: 100px;
}

.content>button {
    width: 200px;
    border-radius: 0 !important;
}

.topagents-div {
    padding-top: 5vh;
    margin-top: 15vh;

}

.header {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.507);
    color: aliceblue;
    margin-bottom: 2rem;
    text-align: center;
}

.agents-carousel>.carousel-item {
    padding-left: 11rem;
    padding-right: 9rem;
}

.agent-card {
    width: 90%;
    color: aliceblue;
    background: linear-gradient(137deg, #404f5b 0%, rgba(232, 232, 232, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.222) 0px 5px 15px;
    border: none;
}

.fourth-div {
    background-image: linear-gradient(rgb(219, 227, 233) 0%, 1%, aliceblue);
}

.predict-hero {
    padding: 0px 100px 0px 100px;
    min-height: 120vh;
    margin-top: -10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 43, 43);
    text-align: center;
}

p>a {
    color: rgb(104, 157, 255);
    text-decoration: none;
}

.second-extra-div {
    color: aliceblue;
}

.image-clipart {
    filter: brightness(15%);
}

.sticky-footer {
    background-color: aliceblue;
}

/* button {
    border-radius: 0 !important;
} */